#{extends 'Cucumber/main.html' /}
#{set title:'Cucumber Dashboard' /}

<div class="col-md-12">
#{if features.size()==0}
    <div class="alert alert-warning">
        No <b>*.feature</b> files found in <b>features</b> directory!
    </div>
#{/if}
#{else}
    <a href="@{Cucumber.runAll}" class="btn btn-primary" role="button">Run All...</a>
    <a href="@{Cucumber.showTags}" class="btn btn-primary" role="button">Run by tags...</a>
    <hr/>
#{/else}

    <ul class="list-group">
    #{list items:features, as:'feature'}
        <li class="features">
            <a href="@{Cucumber.showFeature(feature.uri)}">${feature.feature.name}</a>
            <span class="muted">(${feature.uri})</span>
            <ul>
                #{list items:feature.featureElements, as:'featureElement'}
                    <li class="scenarii"><i class="glyphicon glyphicon-comment"></i>&nbsp;${featureElement.visualName}</li>
                #{/list}
            </ul>
        </li>
        <br/>
    #{/list}
    </ul>
</div>