#{extends 'Cucumber/main.html' /}
#{set title:'Cucumber tags' /}

#{set 'moreStyles'}
<style>
    label.list-group-item{
        margin-bottom: 5px;
    }
</style>
#{/set}

<form action="@{Cucumber.runFeaturesByTags}" method="POST" class="col-md-12">
    <h2>
        Select tags to run features
        <button class="btn btn-primary" type="submit">Run selected tags...</button>
    </h2>

    <div class="list-group col-md-4 col-md-offset-1" data-toggle="buttons">
        #{list items:tags, as:'tag'}
            <label class="btn btn-default list-group-item">
                <i class="glyphicon glyphicon-tags"> </i>
                <input type="checkbox" name="tags" autocomplete="off" value="${tag.getName()}"/>${tag.getName().replace("@", " ").replace("_", " ")}
            </label>
        #{/list}
    </div>
</form>

