#{extends 'Cucumber/main.html' /}
#{set title:'Cucumber Feature Details' /}

<div class="col-md-12">
	<h2>
		<a href="@{Cucumber.runFeature(feature.uri)}">${feature.feature.name}</a>
		<span class="muted">(${feature.uri})</span>
		<a href="@{Cucumber.runFeature(feature.uri)}" class="btn btn-primary">Run...</a>
	</h2>

	<ul>
	#{list items:feature.featureElements, as:'featureElement'}
        <li>
            <strong><i class="glyphicon glyphicon-comment"></i>&nbsp;${featureElement.visualName}</strong>
			<ul>
				#{list items:featureElement.steps, as:'step'}
                    <li>${step.keyword} ${step.name}</li>
				#{/list}
			</ul>
        </li>
	#{/list}
	</ul>
</div>

#{if feature.featureElements}   
<div class="col-md-offset-1 col-md-6">
    #{list items:feature.featureElements, as:'featureElement'}
    #{if featureElement instanceof cucumber.runtime.model.CucumberScenarioOutline}
    <h4>Examples:</h4>
	<table class="table table-striped">
	    #{list items:featureElement?.cucumberExamplesList, as:'cucumberExample'}
		    #{list items:cucumberExample.examples.rows, as:'row'}
		        #{if row_isFirst}
    	        <thead>
	            <tr>	        
	                #{list items:row.cells, as:'cell'}
	                <th>${cell}</th>	        
	                #{/list}
                </tr>
	            </thead>
    	        <tbody>	    
    		    #{/if}
    		    #{else}
		        <tr>	        
	                #{list items:row.cells, as:'cell'}
	                <td>${cell}</td>	        
	                #{/list}
                </tr>    		    
    		    #{/else}		    
		    #{/list}	    
		#{/list}
		</tbody>
	</table>
	#{/if}
	#{/list}
</div>
#{/if}